*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
/* header related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin-bottom: 60px;

}
nav > ul{
    display: flex;
    
}
ul >li{
    list-style: none;
    margin-right: 20px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
header-title{
    color: #3A3A3A;
font-size: 1.5rem;
font-weight: 700;
}
.header-banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 80px; */
   
}
.banner-title{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: left;
}
.banner-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 18px;
    text-align: left;

}
.banner-btn{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}
.banner-btn > img{
    text-align: center;
    margin-left: 10px;
    width: 30px;
    height: 20px;
    margin-bottom: -5px;

    
}
.Circle{
    width: 600px;
    height: 500px;
    position: relative; left: 400px;
}
.camera{
    position: relative; left: -140px; top: -40px;
}

.sponsors-container{
    display: flex;
    align-items: center;
    width: 60.5%;
    margin: auto;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;

}
.sponsor{
    width: 100px;
}
/* header related style end */































/* media query  */
@media screen and (max-width:576px) {
    nav,
    .sponsors-container{
        flex-direction: column;
    } 
   
  
    nav >h1{
        text-align: center;
        margin-bottom: 8px;
        margin-top: -50px
        
    }
    .header-banner-container{
        flex-direction: column-reverse;
    }
    .Circle{
        width: 370px;
        min-height: 370px;
        position: relative; left: 5px; top: -130px;
    }
    .camera{
        width: 310px;
        height: 310px;
        position: relative; left: 50px; top:-550px;
    }
    .header-banner-text-container{
        margin-top: -450px;
        text-align: center;
    }
   
    .header-banner-text-container h1{
        text-align: center;
        font-size: 2rem;
    }
    .header-banner-text-container p{
        text-align: center;
    }
}